header {
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px;
  height: auto;
}

nav {
  line-height: 30px;
  background-color: #eeeeee;
  height: 90%;
  width: 150px;
  float: left;
  padding: 5px;
}

section {
  padding: 10px;
  height: 90%;
  overflow: scroll;
  overflow-scrolling: auto;
}

footer {
  background-color: black;
  color: white;
  clear: both;
  text-align: center;
  padding: 5px;
  height: auto;
}
