<!DOCTYPE html>
<html lang="en" style="height: 100%;">
<link href="mine/css/welcome.css" rel="stylesheet"/>
<link rel="icon" href="mine/icon/icons8.png"/>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>

<head>
    <meta charset="UTF-8">

    <title>「仓颉」研发流程管理工具</title>
</head>
<body style="height: 100%;">

<div id="header">
</div>
<script>
    $('#header').load('/header')
</script>

<nav id="nav"></nav>
<script>
    $('#nav').load('/leftBar')
</script>

<section>
    <div>
        <h1 style="margin-top:30px">软件研发流程管理</h1>
        <h2 style="margin-top:15px">任务列表</h2>

        <div class="input-group mb-3">
            <form id="taskSearchForm" class="row g-0">
                <div class="col-auto">
                    <label class="col-form-label">请选择任务来源：</label>
                </div>
                <div class="col-auto">
                    <select name="taskSource" id="taskSourceSelect" class="form-control form-select" aria-label="Server"
                            style="width: 300px">
                        <option selected disabled></option>
                    </select>
                </div>

                <div style="margin-left: 30px" class="col-auto trello-kanban-select-class" hidden="hidden">
                    <label class="col-form-label">请选择看板：</label>
                </div>
                <div class="col-auto trello-kanban-select-class" hidden="hidden">
                    <select name="trelloBoard" id="trelloBoardSelect" class="form-control form-select"
                            aria-label="Server"
                            style="width: 250px">
                        <option selected disabled></option>
                    </select>
                </div>
                <div class="spinner-border  text-secondary col-auto" role="status" hidden>
                    <span class="visually-hidden">Loading...</span>
                </div>
            </form>

            <div style="margin-left: 50px" class="col-auto">
                <button id="taskSearchButton" type="button" class="btn btn-primary">搜索</button>
            </div>
        </div>

        <hr style="margin-bottom: 20px">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">key</th>
                    <th scope="col">任务名称</th>
                    <th scope="col">任务描述</th>
                    <th scope="col">状态</th>
                    <th scope="col">操作</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>

        <div class="modal fade" id="createDeliveryProcessModal" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">新建研发流程</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="create-process-form">
                            <label for="taskSourceInput" hidden></label>
                            <input type="text" class="form-control" id="taskSourceInput" name="taskSourceType" hidden>

                            <label for="taskUrlInput" hidden></label>
                            <input type="text" class="form-control" id="taskUrlInput" name="taskUrl" hidden>

                            <div class="mb-3">
                                <label for="taskKeyInput" class="col-form-label">任务Key:</label>
                                <input type="text" class="form-control" id="taskKeyInput" name="taskKey" readonly>
                            </div>

                            <div class="mb-3">
                                <label for="taskTitleInput" class="col-form-label">任务标题:</label>
                                <input type="text" class="form-control" id="taskTitleInput" readonly>
                            </div>
                            <div class="mb-3">
                                <label for="processTemplate" class="col-form-label">选择流程模板:</label>
                                <select id="processTemplate" class="form-select" name="templateId"
                                        aria-label="Default select example">
                                    <option selected disabled>Open this select menu</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
                        <button id="confirm-create-process-button" type="button" class="btn btn-primary">创建</button>
                    </div>
                </div>
            </div>
        </div>

        <script>
            $(document).ready(function () {
                $.ajax({
                    url: "/task/taskSourceList",
                    async: false,
                    type: "GET",
                    dataType: "json",
                    success: function (data) {
                        $.each(data, function (idx, item) {
                            $("#taskSourceSelect").append("<option value=\"" + item.value + "\">" + item.name + "</option>");
                        })
                    }
                });
            })

            $("#taskSourceSelect").change(function () {
                var source = $(this).val();
                console.log(source)
                if (source === "TRELLO") {
                    console.log(source)
                    $(".trello-kanban-select-class").removeAttr("hidden")
                    $(".spinner-border").removeAttr("hidden")
                    $.ajax({
                        url: "/task/trelloBoards",
                        async: true,
                        type: "GET",
                        dataType: "json",
                        success: function (data) {
                            $.each(data, function (idx, item) {
                                $("#trelloBoardSelect").append("<option value=\"" + item.value + "\">" + item.name + "</option>");
                            })
                            $(".spinner-border").attr("hidden", "hidden")
                        }
                    });
                }
            })

            $("#taskSearchButton").click(function () {
                $("tbody").empty();
                var data = $("#taskSearchForm").serialize();
                $.ajax({
                    url: "/task/taskList",
                    async: false,
                    type: "GET",
                    data: data,
                    dataType: "json",
                    success: function (data) {
                        console.log(data)
                        $.each(data, function (idx, item) {
                            var processDetailUrl;
                            var buttonString = "未关联流程";
                            if (item.deliveryProcessId != null) {
                                processDetailUrl = "/deliveryProcessDetail?deliveryProcessId=" + item.deliveryProcessId
                                buttonString = "<button class=\"btn btn-primary btn-sm\" onclick=\"javascript:window.open('"+processDetailUrl+"','_blank')\">查看流程详情</button>";
                            }
                            $("tbody").append("<tr>\n" +
                                "                <th id='taskKey' scope=\"row\">" + item.taskKey + "</th>\n" +
                                "                <td id='title'>" + item.title + "</td>\n" +
                                "                <td id='taskUrl' hidden>" + item.taskUrl + "</td>\n" +
                                "                <td id='desc'><span class=\"d-inline-block text-truncate\" style=\"max-width: 450px;\">" + item.desc + "</span></td>\n" +
                                "                <td id='processId'>" + buttonString+ "</td>\n" +
                                "                <td>" +
                                "<button data-bs-toggle=\"modal\" data-bs-target=\"#createDeliveryProcessModal\" type=\"button\" class=\"btn btn-primary btn-sm create-delivery-process-button\">" + "新建流程" + "</button>" +
                                "<button id='toTaskDetail' type=\"button\" class=\"btn btn-primary btn-sm\" onclick='javascript:window.open(\"" + item.taskUrl + "\",\"_blank\")'>" + "查看任务详情" + "</button>" +
                                "</td>\n" +
                                "            </tr>");
                        })
                    }
                });
            })
        </script>

        <script>
            $(document).ready(function () {
                $.ajax({
                    url: "/processTemplateAjax",
                    async: true,
                    type: "GET",
                    dataType: "json",
                    success: function (data) {
                        $.each(data, function (idx, item) {
                            $("#processTemplate").append("<option value=\"" + item.id + "\">" + item.name + "</option>");
                        })
                    }
                });
            })

            $(document).on("click", ".create-delivery-process-button", function () {
                var taskKeyElem = $(this).parent().siblings().filter("#taskKey").text();
                var taskTitleElem = $(this).parent().siblings().filter("#title").text();
                var taskUrlElem = $(this).parent().siblings().filter("#taskUrl").text();

                $("#taskKeyInput").val(taskKeyElem);
                $("#taskUrlInput").val(taskUrlElem);
                $("#taskTitleInput").val(taskTitleElem);
                $("#taskSourceInput").val($("#taskSourceSelect").val());
            })

            $(document).on("click", "#confirm-create-process-button", function () {
                if ($("#taskKeyInput").val() === null || $("#taskKeyInput").val() === '') {
                    alert("任务key不能为空！");
                    return;
                }
                if ($("#taskUrlInput").val() === null || $("#taskUrlInput").val() === '') {
                    alert("任务Url不能为空！");
                    return;
                }
                if ($("#taskSourceInput").val() === null || $("#taskSourceInput").val() === '') {
                    alert("任务来源不能为空！");
                    return;
                }
                if ($("#processTemplate").val() === null || $("#processTemplate").val() === '') {
                    alert("流程模板不能为空！");
                    return;
                }
                var data = $("#create-process-form").serialize();
                $.ajax({
                    url: "/deliveryProcess",
                    type: "POST",
                    data: data,
                    success: function (data) {
                        console.log(data)
                    }
                });
            })
        </script>
    </div>
</section>

<footer>
    Copyright techflower.cn
</footer>

</body>
<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>

</html>
