<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>leftBar</title>
</head>
<body>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/processTemplate">
                <i class="bi bi-collection"></i>
                流程模板
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/deliveryProcess">
                <i class="bi bi-bezier2"></i>
                开发流程
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="bi bi-sliders"></i>
                系统设置
            </a>
        </li>
    </ul>
</body>
</html>
